<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create user</title>
</head>
<body>
    <form action="/create" method="POST">
        <input type="text" name="email" id="" placeholder="email">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="password" id="" placeholder="password">
        <input type="submit" value="create">
        <h4>note: - password must be 7 character</h4>
    </form>
    
</body>
</html>