<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login success</title>
    
</head>
<body>
    <h1 id="success"></h1>
    <h1>hello</h1>
    <script>
        const token = localStorage.getItem('token');
        if(token) {
            fetch('/check-token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                },
            })
            .then(res => {
                if(res.status == '200'){
                    document.getElementById('success').innerHTML = "Login success";
                }
            })
            .catch(e => {
                console.log(e)
            })
        }
    </script>
</body>
</html>