<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create user</title>
    <script src="../main.js" defer></script>
</head>
<body>
    <h2>Create accout success, please login to continue</h2>
    <div>
        <input type="text" name="email" id="email" placeholder="email">
        <input type="text" name="password" id="password" placeholder="password">
        <p style="color: brown;" id="error"></p>
        <button onclick="loginHandler()">Login</button>
    </div>
    
</body>
</html>